name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: npm ci
      - run: npm run ci
  integrationTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: npm ci
      - run: npm run build
      - uses: ./
        with:
          path: __test-raw.txt
          query: 'label:integration-test'
          token: ${{ github.token }}
      - name: 'Fail unless raw file contains the expected URL'
        run: "grep -q 'https://github.com/lee-dohm/select-matching-issues/issues/6' __test-raw.txt || exit 1"
      - uses: ./
        with:
          path: __test-list.txt
          query: 'label:integration-test'
          token: ${{ github.token }}
      - name: 'Fail unless list file contains the expected line'
        run: "grep -q '* [Test issue](https://github.com/lee-dohm/select-matching-issues/issues/6)' __test-list.txt || exit 1"
